#header {
  text-align: center;
  padding-bottom: 20px;
}

nav {
  padding-bottom: 20px;
  text-align: center;
}

nav a {
  padding-right: 7px;  
  color: #98A54E;
}

nav a:hover {
  color: #65721b;
}

#myPicture {
  width: 100%;
  box-shadow: 0 0 20px #46414D
}

#pageContainer {
  padding-top: 50px;
  padding-bottom: 200px;
  color: #46414D;
}

h1 {
  font-size: 50px;
  font-family: Courgette;
  color: #563D7C;
  cursor: default;
}

h2 {
  font-family: Courgette;
  font-size: 36px;
  color: #98A54E;
  cursor: default;
}

h3 {
  color: #563D7C;
}

h2:hover {
  color: #65721b;
}

body {
  background-color: #F5F6EF;
}

#contactMe i {
    font-size: 1.5em;
}

a:hover {
    text-decoration: none;
}