#header {
  text-align: center;
  color: #ffffff;
}

#header:hover {
  color: #563D7C;
}

#banner {
  background: url('../img/header.png') no-repeat center center;
  background-size: cover;
  background-position: center center;
  height: 30em;
}
#banner .row {
  padding-bottom: 20px;
}

nav {
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
}

nav a {
  margin-right: 10px;
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
  font-style: italic;
}

#myPicture {
  width: 100%;
  box-shadow: 0 0 20px #46414D
}

#pageContainer {
  color: #46414D;
}

h1 {
  font-size: 50px;
  font-family: Courgette;
  color: #563D7C;
  cursor: default;
}

h2 {
  font-family: Courgette;
  font-size: 36px;
  color: #98A54E;
  cursor: default;
}

h3 {
  color: #563D7C;
}

h2:hover {
  color: #65721b;
}

body {
  background-color: #F5F6EF;
}/* Rectangle 3 Copy: */

#contactMe i {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

#interests li {
  margin-top: 10px;
}

#speaking {
  background-color: #212745;
  color: #ffffff;
}

#speaking h2 {
  color: #FFFFFF;
}

#speaking h3 {
  color: #FFFFFF;
}

#speaking a {
  color: #98A54E;
}

#contactMe{
  background-color: #98A54E;
}

#contactMe h2 {
  color: #FFFFFF;
}

#contactMe .contact-link {
  padding: 5px;
  height: 150px;
  text-align: center;
}

#contactMe .contact-link a {
  height: 100%;
  display: block;
  padding-top: 30px;
  background-color: #ffffff;
}

#contactMe .contact-link a i {
  font-size: 50px;
  padding-right: 5px;
  display: block;
}


.row {
  padding-bottom: 15px;
  padding-top: 5px;
}